* {
  box-sizing: border-box;
  margin: 20px 20pt;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: beige;
}
